@import "./globalSass/colors";
.header{
  background-color: $color1;
}
.header h2{
  letter-spacing: 4px;
}
.header .logout ,.header .room{
  border: none;
  background-color: transparent;
  letter-spacing: 4px;
}
.header svg{
  font-size: 20px;
}